

<br>
<br>
<br>
<br>

<!-- BREADCRUMBS -->
<div class="lv-breadcrumbs">
	<div class="row">
		<div class="columns">
			<ul>
				<li><i class="fi-mark"></i></li>
			  	<!--<li><a href="#">Breadcrumb 1</a></li>-->
			  	<li class="active">{{ page.title }}</li>
			  	<li><a href="#">An even longer title here and here</a></li>
			</ul> <!-- .lv-breadcrumbs -->
		</div> <!-- .columns -->
	</div> <!-- .row -->
</div> <!-- .lv-breadcrumbs -->

<!-- <div class="row">
	<div class="columns">
		<ul class="breadcrumbs">
			<li><i class="fi-marker" style="color:#666666;"></i>&nbsp;&nbsp; <a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="unavailable"><a href="#">Gene Splicing and more stuff about street</a></li>
			<li class="current"><a href="#">Cloning and more and more</a></li>
		</ul>
	</div>
</div> -->
