<section class="hide">
   <div class="row">
      <div class="medium-8 columns">
         <!-- Blog Posts -->
         <ul class="medium-block-grid-2">
            <li>
               <h4>01 Latest Post</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, illo, est quisquam minus nam accusamus adipisci labore vero sunt.</p>
            </li>
            <li>
               <h4>02 Latest Post</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, illo, est quisquam minus nam accusamus adipisci labore vero sunt.</p>
            </li>
            <li>
               <h4>03 Stay Connected</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, illo, est quisquam minus nam accusamus adipisci labore vero sunt.
               </p>
            </li>
            <li>
               <h4>04 Need Hosting?</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, illo, est quisquam minus nam accusamus adipisci labore vero sunt.</p>
            </li>
         </ul>
      </div> <!-- .medium-8 -->

      <!-- Newsletter Form -->
      <div class="medium-4 columns">
         <h4>Signup for our Newsletter</h4>
         <form action="/" method="post">
            <input class="errorX" type="text" name="name" placeholder="Name*" required>
            <!--<small class="error">Please provide name</small> -->
            <input class="errorX" type="text" name="email" placeholder="Email*" required>
            <!--<small class="error">Please provide email</small> -->
            <button class="button expand" type="submit" name="submit" value="Send Message">Sure, why not.</button>
         </form>
      </div> <!-- .medium-4 -->
      <hr>
   </div> <!-- .row -->
</section>

<!-- Legal -->
<section class="legal text-center medium-text-left">
   <div class="row">
      <div class="medium-5 columns">
         <p><b>&copy; 2014</b> - Ewide. All rights reserved.<br>
         <small>Design <a href="http://www.liquidvisual.com">liquidvisual</a></small></p>
      </div> <!-- .medium-5 -->
      <div class="medium-7 columns">
         {% include social_networks.html %}
      </div> <!-- .medium-7 -->
   </div> <!-- .row -->
</section> <!-- .legal -->