<!-- Sidebar Homepage -->

<h3><i class="fi-book-bookmark"></i>&nbsp; Quick Links</h3>
<ul class="no-bullet">
	<li><a href="#">About Us</a></li>
	<li class="active"><a href="#">Our Services</a></li>
	<li><a href="#">Our Approach</a></li>
	<li><a href="#">News</a></li>
	<li><a href="#">Contact Us</a></li>
</ul>

<h3><i class="fi-archive"></i>&nbsp; Archive</h3>
<ul class="no-bullet">
	<li><a href="#">2013</a></li>
	<li><a href="#">2012</a></li>
	<li><a href="#">2011</a></li>
	<li><a href="#">2010</a></li>
	<li><a href="#">2009</a></li>
</ul>

<article class="info-box">
	<a href="#">
		<h4>Discover our Services</h4>
		<p>Learn more about <!-- $company --> solutions and services</p>
	</a>
</article>

<article class="article-box">
	<h4>Our Software</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing eli.<p>
	<p>Assumenda veniam voluptatibus quo accusantium illum minus fugit maxime quibusdam alias. Iste, cupiditate!</p>
</article>